nav {
    width: -200px;
    font-weight: 600;
  }
  
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
nav a {
    text-decoration: none;
    color: black;
  } 
 .nav-position li{
     padding-right: 200px;
     margin-left: 50px;
   }
.nav-bar{
    margin-top:50px;
  margin-right:100px;
  }
.nav-bar a{
  color:#47463B;
  font-size:0.6em;
  font-weight:bold;
  text-decoration:none;
  margin-right:100px;
  margin-left:-30px;
  }

  /* imagen principal home */
  .home-image {
    height: 50rem;
    padding-bottom: 30px;
    background-size: cover;
    margin-left: -50px;
    margin-right: -17px;
  }

  /*footer home */
footer{
    display:flex;
    justify-content:center;
    margin-left: 340px;
    margin-top: -250px;
    font-size: 28px;
  }

 /*enlaces estilo*/
a:hover{
    text-decoration: underline;
    color:black;
  }
a:active{
    color:"";
  }

  /*formulario de contacto email*/
form{
    background-image:url("")
  }
.slot-form{
    width: 40%;
   margin: 18px auto 0 auto;
    font-size: 1.5em;
    text-align: center;
    margin-top:100px;
  }
.slot-form-container label {
   line-height: 15px;
    margin: 5px;
  }
.slot-form-container input, select {
   height: 20px;
    outline: none;
    padding: 3px;
    width: 100%;
  }
.slot-form-container button{
    border-color:yellow;
    padding:10px;
    margin-top:10px;
    font-style:italic;
    font-weight:bold;
    background-color:withe;
    border-radius:10%
  }
  /* --- RESET --- */

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    cursor: url('../images/gam1282.cur'), auto;	
    box-sizing: border-box;
}

:root {
    --text-color: #1A1A1A;
    --red-color: #E3350D;
    --red-color: #ff6541;
    --white-color: #FFF;
}

body{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: normal;
}


main{
    padding: 30px;
}

.container{
    display: flex;
    justify-content: center;
}

a{
    text-decoration: none;
    color: var(--text-color);
}

a:hover{
    color: var(--red-color);
}

h1{
    font-size: 70px;
    margin-bottom: 20px;
}

h2{
    color: var(--text-color);
    font-size: 30px;
    border-bottom: 3px solid var(--red-color);
    display: inline;
    text-transform: uppercase;
    letter-spacing: 6px;
}

h3 {
    color: var(--red-color);
    font-size: 26px;
}

h4{
    font-size: 22px;
}

input {
    margin: 10px;
    height: 40px;
    border: none;
    border-bottom: solid 2px var(--red-color);
    text-align: center;
}

input:focus{
    border-bottom: solid 2px var(--text-color);
    outline-color: #ff6541;
}

button, .button{
    height: 40px;
    margin: 10px;
    background-color: black;
    color: white;
    border: none;
    box-shadow: 3px 3px 0px var(--red-color);
    
}

button:hover, .button.hover{
    background-color:#4e4e4e;
}

button:disabled, .button:disabled{
    background-color: grey;
}
/* SIGNUP PAGE & LOGIN PAGE */

.signup, .login{
  margin-top: 85px;
  text-align: center;
}

.form-wrapper{
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.form-wrapper > form{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
}

.message-container{
  width: 100%;
  max-width: 800px;
}


.message-container p{
  background-color: var(--red-color);
  padding: 20px;
  margin: 10px 0;
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px #feb1b1;
}

.message-container p.correct-message {
  background-color: rgb(47, 164, 93);
  box-shadow: 0 0 10px #dbf1c1;
}

/* POKEDEX PAGE */

.header-pokedex{
  background: url(../images/fb24a57d5d82b2fa23c3c3878091530d.jpg) no-repeat center top /cover;
  height:60vh;
}

.pokemon-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  max-width: 1100px;
}

.pokemon-list > article{
  width: 30%;
  margin: 1%;
  background-color: #f3f3f3;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.pokemon-list > article > img{
  width: 75%;
}

.pokemon-list > article > h3{
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color:var(--red-color);
}

.pokemon-list > article > div{
  display: flex;
}
.pokemon-list > article > div > .pokemon-type-label{
  background-color: #4f4f4f;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 10px 4px;
}

@media (max-width: 768px){
  .pokemon-list > article{
      width: 100%
  }
}